@using Microsoft.AspNetCore.Identity
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" title="Manage">Pozdrav @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Invoice" class="nav-link text-dark">Moje fakture</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" method="post" asp-action="SignOut" asp-controller="Acc">
                    <button type="submit" class="nav-link btn btn-link text-dark">Odjavi se</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Register" asp-controller="Acc">Registracija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Login" asp-controller="Acc">Prijava</a>
            </li>
        }
    </ul>
