@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    <a asp-action="SeedDB" asp-controller="Home" style="margin-top: 30px;" class="btn btn-success">Seed db</a>
    
</div>
